@import "reset";

// start navbar

* {
  font: 400 14px 'Roboto Slab', serif;
  color: #777777;
}

.navbar {
  width: 100%;
  height: 114px;
  padding: 43px 16.5%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;

  &__anchor {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7cc576;

    margin-right: 5px;
  }

  &__name {
    color: #555555;
    font: 700 18px 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
}

.nav {
  width: 31vw;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__anchor {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

    will-change: color;
    transition: 0.2s all;

    &:hover {
      color: #222;
    }
  }
}

// e/o navbar


// start header

.header {
  height: 600px;
  text-align: center;
  padding: 120px 0;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(static/background.png) center / cover no-repeat;
    z-index: -1;

    &:after { // background opacity
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }

  &__title {
    color: #fff;
    font: 700 60px / 1.1em 'Montserrat';
    text-transform: uppercase;
    letter-spacing: -3px;
  }

  &__par {
    color: #ccc;
    margin: 40px 0 55px;
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}

.btn {
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #7cc576;
  border-radius: 15% / 50%;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font: 700 16px 'Montserrat', sans-serif;
  letter-spacing: -0.37px;

  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    color: #222;
    background-color: #fff;
  }
}

// e/o header


// start sections - general rules

.section, .footer {
  padding: 100px 16.5%;

  &__title {
    color: #222;
    font: 700 40px / 1.9em 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 15px;
  }

  &__par {
    font-size: 20px;
    text-align: center;
    margin-bottom: 85px;
    letter-spacing: -0.5px;
  }
}

// e/o sections - general rules


// start about sections

.articles {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;

  &:nth-child(2) {
    margin: 0 55px;
  }

  &:last-child {
    margin-top: 10px;
  }

  &__title {
    color: #222;
    font: 700 18px / 1em 'Montserrat';
    text-transform: uppercase;
    letter-spacing: -0.45px;

    margin: 35px 0 15px;
  }

  &__par {
    text-align: center;
  }
}

// e/o about sections


// start blog sections

.blog {
  padding: 0;
  display: flex;
  align-items: stretch;

  & .title {
    color: #fff;
    text-align: left;
    margin-bottom: 40px;
    line-height: 1em;

    &__span {
      font: 700 40px 'Montserrat';
      color: #7cc576;
    }
  }

  & .par {
    text-align: left;
    color: #ccc;
    max-width: 500px;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: -0.4px;
    line-height: 1.8em;
  }

  & .btn {
    width: 170px;
    height: 60px;
    margin-top: 50px;
  }

  & .listItem {
    color: #ccc;
    font-size: 16px;
    letter-spacing: -0.4px;
    margin: 10px 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  & .far { // check icons
    font-size: 1.7rem;
    color: #ccc;
    margin-right: 20px;
  }
}

.column--left {
  flex-basis: 30vw;
  background-color: #e9e9e9;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  & .img {
    will-change: transform;
    transform: translate3d(50%, 0, 0);

  }
}

.column--right {
  flex-basis: 70vw;
  padding: 7vw;
  z-index: 2;
  position: relative;

  & .blog__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(static/blogBackground.png) center / cover no-repeat;
    z-index: -1;

    &:after { // background opacity
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
}

// e/o blog sections


// start portfolio sections

.portfolio {
  background: url(static/iPad.png) 50vw 100% no-repeat;
}

.project {

  &__title {
    color: #222;
    font: 700 18px / 4em 'Montserrat';
    text-transform: uppercase;
    letter-spacing: -0.45px;
  }

  &__par {
    max-width: 30.3vw;
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 1.7em;
  }
}

.feature {
  display: flex;
  align-items: center;

  margin: 20px 0;

  &__imgContainer {
    width: 68px;
    height: 68px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: 'Montserrat';
    color: #222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
  }

  &__par {
    font-size: 16px;
  }
}

.btn--details {
  background: #fff;
  width: auto;
  height: auto;
  color: #7cc576;
  font-size: 16px;
  text-shadow: none;
  letter-spacing: -0.4px;
  margin-top: 25px;

  display: flex;
  align-items: center;

  & .fas { // arrow icon
    color: #7cc576;
    margin-left: 7px;

    transition: 0.2s all;
  }

  &:hover .fas {
    color: #222;
    background-color: #fff;
  }
}

// e/o portfolio sections



// start values sections

.values {
  background-color: #f9f9f9;

  .article {
    &:last-child {
      margin-top: 0;
    }
  }

  .imgContainer {
    width: 85px;
    height: 85px;
    border: 3px solid #777;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.values .article:nth-child(2) { // horizontal lines
  .imgContainer {
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 150%;
      width: calc((100vw - 33vw) / 3 + 12px - 200%);
      height: 3px;
      background-color: #777;
    }

    &:before {
      left: auto;
      right: 150%;
    }
  }
}

// e/o values sections


// start clients sections

.client {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    padding-top: 80px;
  }

  &__imgContainer {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: #f9f9f9;
  }

  & .quoteContainer {
    width: 46vw;
    padding: 40px 50px;
    background-color: #f9f9f9;
    text-align: center;
    position: relative;

    &__quote {
      font-size: 22px;
    }

    &__author {
      font-size: 18px;
      color: #7cc576;
      line-height: 36px;
    }

    &:before { // arrows
      content: '';
      position: absolute;
      top: calc(50% - 12px);
      left: -40px;
      border: 20px solid #f9f9f9;
      border-top-width: 12px;
      border-bottom-width: 12px;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }

    &:first-child:before { // bottom client arrow
      left: auto;
      right: 0%;
      transform:
        translate3d(40px, 0, 0)
        rotate3d(0, 0, 1, 180deg);
    }
  }
}

// e/o clients sections


// start contact sections

.contact {
  padding: 50px 0 70px;
  background-color: #7cc576;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  & .title {
    color: #fff;
  }

  & .btn {
    border: 3px solid #fff;
    border-radius: 5px;
    width: 174px;
    height: 48px;
    margin: auto;
    text-shadow: none;

    &:hover {
      color: #7cc576;
    }
  }
}

// e/o contact sections
